.html{

}

.body{
    box-sizing: border-box;
}

.container{
    max-width:1170px;
    margin:0 auto;
}

.Exclusive-welcome{
    margin-top: 50px;
    padding-bottom:16px;
    border-bottom: 0.66px solid #000;
}

.Exclusive-welcome__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Exclusive-welcome__navbar h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.navbar-navigation{
    display: flex;
    gap:50px;
}

.navbar-navigation-item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.navbar-functions{
    display: flex;
    align-items: center;
}

.navbar-functions input{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 219px;
    height: 38px;
    background: #F5F5F5;
    border:none;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.navbar-functions img{
    width:32px;
    height:32px;
}

.navbar-functions-img1{
    margin-left:24px;
    margin-right:16px;
}

.catalog{
    display: flex;
}

.catalog-article{
    padding-top: 40px;
    width:217px;
    height:344px;
    border-right: 0.66px solid #000;
}

.catalog-article ul{
    width: 217px;
}

.catalog-article li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin:8px 0;
    list-style-type:  none;
}

.catalog-iphone{
    color: #FAFAFA;
    background-color: #000;
    width:892px;
    height:352px;
    margin-left: 45px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.catalog-iphone__box-big{
    width:496px;
    height:352px;
}

.catalog-iphone__box{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.catalog-iphone__box div{
    display: flex;
    align-items: center;
    margin-top: 58px;
}

.catalog-iphone p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
}

.catalog-iphone h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    margin-top: 20px;
}

.catalog-iphone a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 22px;
    cursor: pointer;
}
