.html{

}

.body{
    box-sizing: border-box;
}

.container{
    max-width:1170px;
    margin:0 auto;
}

.Exclusive-welcome{
    margin-top: 50px;
    padding-bottom:16px;
    border-bottom: 0.5px solid #000;
}

.Exclusive-welcome__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Exclusive-welcome__navbar h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.navbar-navigation{
    display: flex;
    gap:50px;
}

.navbar-navigation-item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.navbar-functions{
    display: flex;
    align-items: center;
}

.navbar-functions input{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 219px;
    height: 38px;
    background: #F5F5F5;
    border:none;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.navbar-functions img{
    width:32px;
    height:32px;
}

.navbar-functions-img1{
    margin-left:24px;
    margin-right:16px;
}

.catalog{
    display: flex;
}

.catalog-article{
    padding-top: 40px;
    width:217px;
    border-right: 0.5px solid #000;
}

.catalog-article ul{
    width: 217px;
}

.catalog-article li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin:8px 0;
    list-style-type:  none;
}

.catalog-iphone{
    color: #FAFAFA;
    background-color: #000;
    width:892px;
    height:352px;
    margin-left: 45px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.catalog-iphone__box-big{
    width:496px;
    height:352px;
}

.catalog-iphone__box{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.catalog-iphone__box div{
    display: flex;
    align-items: center;
    margin-top: 58px;
}

.catalog-iphone p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
}

.catalog-iphone h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    margin-top: 20px;
}

.catalog-iphone a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 22px;
    cursor: pointer;
}

.sales{
    margin-top: 140px;
}

.sales .container{
    border-bottom: 0.5px solid #000;
    padding-bottom: 60px;
}

.sales__header{
    display: flex;
    align-items: center;
}

.sales__header div {
    width:20px;
    height:40px;
    background: #DB4444;
    border-radius: 4px;
}

.sales__header p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin-left: 16px;
}

.sales__timer{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.sales__timer h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
}

.sales__timer-display{
    display: flex;
    margin-left: 87px;
    gap:38px;
}

.sales__timer-label{
    width: 31px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.sales__timer-value{
    width: 46px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-top: -4px;
}

.sales__swiper-card{
    height:350px;
    width:270px;
    margin-top: 40px;
}

.card-top{
    display: flex;
    width:270px;
    height:250px;
    background: #F5F5F5;
    border-radius: 4px;
    justify-content: space-between;
    gap:12px;
}

.card-top-img_big1{
    width:190px;
    height:180px;
    padding:35px 40px;
    position: absolute;
}

.card-top-img_big2{
    width:190px;
    padding:55px 40px 95px 40px;
    position: absolute;
}

.card-top-img_big3{
    padding:50px;
    position: absolute;
}

.card-top-img_big4{
    width:190px;
    height:180px;
    padding:35px 40px;
    position: absolute;
}

.card-top-img_big5{
    width:190px;
    height:160px;
    padding:40px;
    position: absolute;
}

.card-top-img_big6{
    width:190px;
    padding:40px;
    position: absolute;
}

.card-top-img_big7{
    height: 190px;
    padding-left: 100px;
    padding-top: 30px;
    position: absolute;
}

.card-bottom-img_big1{
    width: 190px;
    padding:40px;
    position: absolute;
}

.card-top-img_big8{
    height:160px;
    position: absolute;
    padding-right: 65px;
    padding-top: 40px;
}

.card-top-img_big9 {
    width: 190px;
    height: 160px;
    padding: 30px;
    position: absolute;
}

.card-top-img_big10{
    height: 190px;
    padding: 45px;
    position: absolute;
}

.card-top-sale{
    width:55px;
    height:26px;
    background: #DB4444;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FAFAFA;
    margin: 12px;
}

.card-image-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px;
}

.card-bottom{
    margin-top: 16px;
}

.card-bottom p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.card-bottom-price{
    display: flex;
    gap:12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
    margin-top: 8px;
}

.card-bottom-price span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.5;
}

.review-box{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.review-box img{
    width:15px;
    height:15px;
}

.review-box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
    margin-left: 8px;
}

.swiper-button-prev,
.swiper-button-next{
    display: flex;
    position: static !important;
    justify-content: flex-end;
    gap:8px;
    margin-top:0 !important;
}

.swiper-button-prev{
    margin-left: auto;
}

.swiper-button-next{
    margin-right: 20px;
}

.sales-button{
    width:234px;
    height:56px;
    border:none;
    border-radius: 4px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #DB4444;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.sales-button__wrapper{
    display: flex;
    justify-content: center;
}

.bestSelling{
    margin-top: 70px;
}

.bestSelling-top{
    display: flex;
    flex-direction: column;
}

.bestSelling-top__point{
    height:40px;
    width:20px;
    border-radius: 4px;
    background-color: #DB4444;
}

.bestSelling-top div{
    display: flex;
}

.bestSelling-top p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin-left: 16px;
    margin-top: 10px;
}

.bestSelling-top h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    margin-top: 20px;
}

.bestSelling-bottom{
    display: flex;
    gap:30px;
}

.bestSelling-top button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    width: 159px;
    height: 56px;
    background: #DB4444;
    border-radius: 4px;
    border:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.card-top-selling{
    display: flex;
    width: 270px;
    height: 250px;
    background: #F5F5F5;
    border-radius: 4px;
    justify-content: flex-end;
}

.bestSelling-top__wrapper{
    display:flex;
    flex-direction: column;
}

.bestSelling-top__button{
    display: flex;
    justify-content: flex-end;
    margin-top: -56px;
}

.categories{
    display: flex;
    width: 1170px;
    height: 500px;
    background: #000000;
    margin-top: 140px;
}

.categories-left{
    margin-left: 56px;
    margin-top: 69px;
}

.categories-right{
    margin-top: 69px;
    margin-left: 56px;
}

.categories-left h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FF66;
}

.categories-left p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #FAFAFA;
    margin-top: 32px;
}

.categories-left button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    background: #00FF66;
    border-radius: 4px;
    border:none;
    color: #FAFAFA;
    height:56px;
    width:171px;
    margin-top: 40px;
}

.categories__timer-display{
    display: flex;
    margin-top: 32px;
    gap:24px;
}

.categories__timer-unit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:62px;
    width:62px;
    border-radius: 100%;
    background-color: #fff;
}

.categories__timer-label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.categories__timer-value{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.slider3 .card-top {
    display: flex;
    width: 270px;
    height: 250px;
    background: #F5F5F5;
    border-radius: 4px;
    justify-content: flex-end;
    gap: 12px;
}

.explore{
    margin-top: 71px;
}

.explore-top__wrapper p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
}

.explore-top__wrapper h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    margin-top: 20px;
}

.explore-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.explore-top__wrapper div{
    display: flex;
    align-items: center;
    gap:16px;
}

.swiper-button-box{
    margin-right: 20px;
}